{% extends '_base.html' %}
{% block title %}{{ book.title }}{% endblock title %}
{% block content %}
<div class="book-detail">
  {% if book.cover %}
   <img class="bookcover" src="{{ book.cover.url}}" alt="{{ book.title }}">
  {% endif %}
 <h2><a href="">{{ book.title }}</a></h2>
 <p>Author: {{ book.author }}</p>
 <p>Price: {{ book.price }}</p>
    {% if user.username == book.author %}
     <a href="{% url 'book_update' pk=book.pk %}" class="btn btn-primary">Update</a>
     <a href="{% url 'book_delete' pk=book.pk %}" class="btn btn-danger">Delete</a>
    {% endif %}
 <div>
  <h3>Reviews</h3>
  <ul>
   {% for review in book.reviews.all %}
   <li>{{ review.review }} ({{ review.author }})
       {% if user.username == book.author %}
       <a href="{% url 'delete_review' book_id=book.pk pk=review.pk %}" class="btn btn-danger">Delete Review</a>
       {% endif %}
   </li>
   {% endfor %}
  </ul>
    <a href="{% url 'book_review' book_id=book.pk %}" class="btn btn-primary">Comment Book</a>
 </div>
</div>
{% endblock content %}