
{% extends '_base.html' %}
{% block title %}About{% endblock title %}
{% block content %}

 <h1>О проекте</h1>
 <p>Меня зовут Женя, мне 18 лет, и я студент НГТУ.</p>
 <p>Этот сайт - мой собственный проект, над которым я работал. Он основан на идее книги. Хотя сайт получился недоработанным и не полностью реализованы все его возможности, я постоянно добавляю новые функции самостоятельно.</p>
 <p>Вот некоторые особенности сайта:</p>
 <ul>
   <li>Расширенная система регистрации, аналогичная Amazon (требуется электронная почта и пароль).</li>
   <li>Каждый пользователь может загрузить свои собственные книги, и автор книги может удалить их, а так же изменить информацию о книге.</li>
   <li>Любой пользователь может оставлять комментарии к книгам.</li>
   <li>Реализована система поиска, позволяющая пользователям искать книги по различным критериям, таким как заголовок и автор.</li>
 </ul>
 <p>Спасибо, что посетили мой сайт!</p>
{% endblock content %}